.profile__button_edit {
  position: relative;
  top: -6px;
  height: 24px;
  width: 24px;
  margin-left: 18px;
}

@media screen and (max-width: 768px) {
  .profile__button_edit {
    top: -4px;
    height: 21px;
    width: 21px;
    margin-left: 14px;
  }
}

@media screen and (max-width: 425px) {
  .profile__button_edit {
    top: -1px;
    height: 18px;
    width: 18px;
    margin-left: 10px;
  }
}