.modal-form {
  position: relative;
  height: 330px;
  max-width: 430px;
  width: 100%;
  background-color: var(--color-light);
  border-radius: 10px;
  padding: 34px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}