.modal-form__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  height: 40px;
  width: 40px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transition: opacity 0.1s linear;
  }
  
  .modal-form__close-button:hover {
    opacity: 0.6;
  }


@media screen and (max-width: 520px) {
  .modal-form__close-button {
    top: -56px;
    right: 5px;
    height: 26px;
    width: 26px;
    transition: all 0.2s ease-in-out;
  }
}