/* Normalizer */
@import url('../vendor/normalize.css');

/* Styles */
@import url('../blocks/page/page.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/header/header.css');
@import url('../blocks/main/main.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__image/profile__image.css');
@import url('../blocks/profile/__content-container/profile__content-container.css');
@import url('../blocks/profile/__content/_position/profile__content_position_bottom.css');
@import url('../blocks/profile/__content/_position/profile__content_position_top.css');
@import url('../blocks/profile/__details/profile__details.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__profession/profile__profession.css');
@import url('../blocks/profile/__button/profile__button.css');
@import url('../blocks/profile/__button/_add/profile__button_add.css');
@import url('../blocks/profile/__button/_edit/profile__button_edit.css');
@import url('../blocks/icon/icon.css');
@import url('../blocks/icon/_type/icon_type_edit.css');
@import url('../blocks/icon/_type/icon_type_trash.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__text/footer__text.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/element/element.css');
@import url('../blocks/element/__image-container/element__image-container.css');
@import url('../blocks/element/__place-image/element__place-image.css');
@import url('../blocks/element/__content/element__content.css');
@import url('../blocks/element/__place-name/element__place-name.css');
@import url('../blocks/form/__item/form__item.css');
@import url('../blocks/form/__pseudo-item/form__pseudo-item.css');
@import url('../blocks/form/__item/_type/form__item_type_checkbox.css');
@import url('../blocks/form/__pseudo-item/_type/form__pseudo-item_type_checkbox.css');
@import url('../blocks/modal-form/modal-form.css');
@import url('../blocks/modal-form/__form/modal-form__form.css');
@import url('../blocks/modal-form/__container/modal-form__container.css');
@import url('../blocks/modal-form/__close-button/modal-form__close-button.css');
@import url('../blocks/modal-form/__title/modal-form__title.css');
@import url('../blocks/modal-form/__input/modal-form__input.css');
@import url('../blocks/modal-form/__save-button/modal-form__save-button.css');
@import url('../blocks/modal-preview/modal-preview.css');
@import url('../blocks/modal-preview/__preview/modal-preview__preview.css');
@import url('../blocks/modal-preview/__container/modal-preview__container.css');
@import url('../blocks/modal-preview/__close-button/modal-preview__close-button.css');
@import url('../blocks/modal-preview/__image/modal-preview__image.css');
@import url('../blocks/modal-preview/__title/modal-preview__title.css');
@import url('../blocks/form/__input-error/form__input-error.css');

/* Fonts */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* General */

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-gray: #545454;
  --main-font: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
}

* a {
  text-decoration: none;
}

body {
  background-color: var(--color-dark);
  overflow-x: hidden;
}

.offscreen {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}