.modal-preview__title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: var(--color-light);
  padding-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}