.modal-preview__title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: var(--color-light);
  padding-top: 10px;
}

@media screen and (max-width: 425px) {
  .modal-preview__title {
    font-size: 18px;
    line-height: 22px;
  }
}