/* .form__item {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
} */

/* .form__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 19px;
  border: 1px solid black;
} */

